In [1]:
%matplotlib inline

import sys
sys.path.insert(0, '../../')
import BrasilUSP_iGEM_LabLib as LabLib

import numpy as np
import glob
from IPython.display import display, HTML


ColumnNames = {
    'A' : "NoPlasmid",
    'B' : "+control",
    'C' : "ZeroC",
    'D' : "C1",
    'E' : "C2",
    'F' : "C3",
    'G' : "C4",
    'H' : "C5",
}

MeaningColNames = { v: k for k, v in ColumnNames.items()}

def allCols(labels, r0 = 1, rf = 9):
    if type(labels) != list: 
        labels = [labels]
    cols = []
    for label in labels:
        row  = MeaningColNames[label]
        for j in range(r0,rf+1):
            cols.append(row + '0' + str(j))
    return cols

In [2]:
# Indexes of promoters
Pidxs = ['rha', 'ara', 'iptg']
Pnames = {'rha' : 'Rhamnose', 'ara' : 'Arabinose', 'iptg' : 'IPTG'}
Pcolors = {'rha' : (0.3,0.5,1.0), 'ara' : (1.0,0.5,0.3), 'iptg' : (0.5,1.0,0.3)}

FLlist = {}
tidx = {}
for P in Pidxs: 
    FLlist[P] = []
    tidx[P] = []

for P in Pidxs:
    for file in glob.glob(P + "/T1*.txt"):
        tidx[P].append( float( file.split(' ')[2].split('.')[0] ) )
        FLlist[P].append(file)

for P in Pidxs: 
    Idx = np.argsort(tidx[P])
    FLlist[P] = np.array(FLlist[P])[Idx]

ODlist = []
for j in range(10):
    ODlist.append("OD/OD "+str(j)+".txt")


fldata = {}
for P in Pidxs:
    fldata[P] = LabLib.ReadFluor_timefmt_nanomed(FLlist[P])

fldata_rfp = {}
for P in Pidxs:
    fldata_rfp[P] = LabLib.ReadFluor_timefmt_nanomed(FLlist[P], datarow=2)

In [3]:
for P in Pidxs:
    print '\n\n'
    display(HTML('<p style="font-size: 25pt;"><b>'+Pnames[P]+'</b></p>'))
    for ColN in ColumnNames.values():
        print 
        display(HTML('<p style="font-size: 13pt;"><b>--- ' + ColN + '</b></p>'))
        display(HTML('<p style="font-size: 12pt;">- Green</p>'))
        display( fldata[P][allCols(ColN)] )
        display(HTML('<p style="font-size: 12pt;">- Red</p>'))
        display( fldata[P][allCols(ColN)] )

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,961.853,872.115,1037.091,791.863,829.987,784.138,832.372,979.768,1083.478
1,967.806,879.522,1093.976,838.641,938.684,1045.627,895.709,913.244,1119.971
2,952.276,911.555,984.746,785.018,868.509,865.920,887.832,969.730,1085.725
3,931.814,974.221,981.079,875.783,934.500,864.765,922.879,1032.823,1080.454
4,891.059,919.335,876.110,773.141,833.701,861.857,853.301,947.619,918.310
5,960.019,918.760,920.515,865.169,873.171,845.750,912.000,1027.528,1100.816
6,937.156,932.571,917.667,809.804,898.810,913.422,928.472,1022.686,1084.383
7,897.759,927.980,904.166,843.279,872.730,839.623,923.126,1001.104,1095.932

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,961.853,872.115,1037.091,791.863,829.987,784.138,832.372,979.768,1083.478
1,967.806,879.522,1093.976,838.641,938.684,1045.627,895.709,913.244,1119.971
2,952.276,911.555,984.746,785.018,868.509,865.920,887.832,969.730,1085.725
3,931.814,974.221,981.079,875.783,934.500,864.765,922.879,1032.823,1080.454
4,891.059,919.335,876.110,773.141,833.701,861.857,853.301,947.619,918.310
5,960.019,918.760,920.515,865.169,873.171,845.750,912.000,1027.528,1100.816
6,937.156,932.571,917.667,809.804,898.810,913.422,928.472,1022.686,1084.383
7,897.759,927.980,904.166,843.279,872.730,839.623,923.126,1001.104,1095.932

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,1002.219,826.411,885.686,616.698,1078.780,839.103,982.496,750.826,960.871
1,1029.084,916.020,931.958,642.691,1009.168,809.687,911.991,874.117,954.248
2,976.582,791.814,892.289,637.336,929.730,822.468,899.098,878.863,1085.885
3,1035.852,893.610,887.337,669.394,971.791,897.456,928.387,855.247,947.452
4,935.171,807.690,858.198,715.899,926.773,838.960,905.581,912.511,1086.746
5,1019.536,871.964,801.955,723.633,944.466,906.565,917.788,861.167,1011.970
6,956.303,858.372,868.697,770.055,989.025,854.590,934.552,943.523,1082.712
7,991.988,867.593,876.118,734.413,947.064,893.898,911.365,846.336,1026.853

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,1002.219,826.411,885.686,616.698,1078.780,839.103,982.496,750.826,960.871
1,1029.084,916.020,931.958,642.691,1009.168,809.687,911.991,874.117,954.248
2,976.582,791.814,892.289,637.336,929.730,822.468,899.098,878.863,1085.885
3,1035.852,893.610,887.337,669.394,971.791,897.456,928.387,855.247,947.452
4,935.171,807.690,858.198,715.899,926.773,838.960,905.581,912.511,1086.746
5,1019.536,871.964,801.955,723.633,944.466,906.565,917.788,861.167,1011.970
6,956.303,858.372,868.697,770.055,989.025,854.590,934.552,943.523,1082.712
7,991.988,867.593,876.118,734.413,947.064,893.898,911.365,846.336,1026.853

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1455.758,1226.428,1326.199,987.199,1125.268,998.668,1319.282,1287.302,1486.197
1,1633.142,1498.941,1537.342,1116.009,1301.247,1134.233,1566.856,1560.127,1731.888
2,1943.378,1721.704,1673.363,1327.480,1451.539,1216.968,1880.423,1947.257,1978.183
3,2128.158,1900.359,1978.635,1472.667,1598.762,1413.358,2141.371,2254.263,2196.724
4,2228.681,2035.043,1891.928,1450.173,1658.511,1459.914,2171.615,2322.446,2339.639
5,2397.084,2127.303,2202.161,1631.114,1710.688,1560.178,2389.278,2459.474,2495.507
6,2532.086,2288.849,2238.188,1692.141,1853.542,1710.515,2501.486,2588.646,2659.888
7,2555.450,2340.791,2335.996,1697.534,1839.783,1714.962,2582.883,2644.932,2721.577

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1455.758,1226.428,1326.199,987.199,1125.268,998.668,1319.282,1287.302,1486.197
1,1633.142,1498.941,1537.342,1116.009,1301.247,1134.233,1566.856,1560.127,1731.888
2,1943.378,1721.704,1673.363,1327.480,1451.539,1216.968,1880.423,1947.257,1978.183
3,2128.158,1900.359,1978.635,1472.667,1598.762,1413.358,2141.371,2254.263,2196.724
4,2228.681,2035.043,1891.928,1450.173,1658.511,1459.914,2171.615,2322.446,2339.639
5,2397.084,2127.303,2202.161,1631.114,1710.688,1560.178,2389.278,2459.474,2495.507
6,2532.086,2288.849,2238.188,1692.141,1853.542,1710.515,2501.486,2588.646,2659.888
7,2555.450,2340.791,2335.996,1697.534,1839.783,1714.962,2582.883,2644.932,2721.577

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,940.226,722.165,927.526,671.086,778.796,829.513,934.824,930.482,1065.048
1,928.475,791.607,949.614,662.966,845.605,850.757,925.192,910.900,1039.608
2,1051.699,904.070,928.717,710.777,875.067,953.610,991.025,1028.645,1078.564
3,1031.023,955.541,1040.163,848.416,943.804,956.479,1092.236,1129.225,1263.311
4,1118.178,982.748,982.759,832.499,948.122,1006.832,1108.876,1148.580,1186.924
5,1084.353,943.581,1047.094,959.886,981.072,1032.541,1133.804,1169.820,1237.177
6,1137.741,1025.994,1016.554,894.961,984.301,1035.241,1130.651,1177.013,1234.217
7,1108.865,1005.153,1031.756,909.320,955.829,997.502,1129.871,1169.903,1255.882

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,940.226,722.165,927.526,671.086,778.796,829.513,934.824,930.482,1065.048
1,928.475,791.607,949.614,662.966,845.605,850.757,925.192,910.900,1039.608
2,1051.699,904.070,928.717,710.777,875.067,953.610,991.025,1028.645,1078.564
3,1031.023,955.541,1040.163,848.416,943.804,956.479,1092.236,1129.225,1263.311
4,1118.178,982.748,982.759,832.499,948.122,1006.832,1108.876,1148.580,1186.924
5,1084.353,943.581,1047.094,959.886,981.072,1032.541,1133.804,1169.820,1237.177
6,1137.741,1025.994,1016.554,894.961,984.301,1035.241,1130.651,1177.013,1234.217
7,1108.865,1005.153,1031.756,909.320,955.829,997.502,1129.871,1169.903,1255.882

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,970.166,841.287,970.328,698.150,1023.100,779.000,892.124,953.421,798.481
1,970.117,814.248,864.835,743.701,1048.787,803.145,955.048,1032.885,754.379
2,1066.324,905.557,804.015,752.403,976.888,910.383,990.293,1012.327,824.794
3,1048.315,954.450,993.994,914.952,1132.070,916.788,1001.860,1157.305,876.913
4,1085.056,999.216,1002.528,841.721,1022.328,1001.986,1104.730,1115.362,901.235
5,1055.719,1040.129,1016.690,943.880,1137.349,1033.394,1039.611,1193.672,999.073
6,1107.348,1077.743,1109.643,916.444,1165.216,1024.769,1165.589,1185.031,1004.721
7,1076.234,1063.754,999.334,918.570,1147.882,1013.010,1046.310,1184.086,1054.254

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,970.166,841.287,970.328,698.150,1023.100,779.000,892.124,953.421,798.481
1,970.117,814.248,864.835,743.701,1048.787,803.145,955.048,1032.885,754.379
2,1066.324,905.557,804.015,752.403,976.888,910.383,990.293,1012.327,824.794
3,1048.315,954.450,993.994,914.952,1132.070,916.788,1001.860,1157.305,876.913
4,1085.056,999.216,1002.528,841.721,1022.328,1001.986,1104.730,1115.362,901.235
5,1055.719,1040.129,1016.690,943.880,1137.349,1033.394,1039.611,1193.672,999.073
6,1107.348,1077.743,1109.643,916.444,1165.216,1024.769,1165.589,1185.031,1004.721
7,1076.234,1063.754,999.334,918.570,1147.882,1013.010,1046.310,1184.086,1054.254

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,863.421,834.214,715.478,725.290,835.054,862.288,835.844,870.632,961.160
1,900.460,867.887,793.059,787.191,852.940,909.087,883.640,934.589,876.154
2,984.816,1017.170,897.077,880.375,947.152,951.220,955.203,1013.043,1019.207
3,1081.005,1025.349,922.977,913.100,1009.675,1014.710,1019.875,1114.816,1167.600
4,1057.607,1062.241,947.934,933.815,997.531,1018.795,1039.638,1119.932,1136.138
5,1077.798,1040.706,920.115,944.386,1031.641,1037.442,1001.292,1121.431,1164.772
6,1099.177,1082.504,947.488,935.593,1006.355,1034.493,1059.202,1122.245,1141.384
7,1085.227,1040.667,925.105,936.232,1019.191,1030.617,1000.643,1144.044,1175.264

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,863.421,834.214,715.478,725.290,835.054,862.288,835.844,870.632,961.160
1,900.460,867.887,793.059,787.191,852.940,909.087,883.640,934.589,876.154
2,984.816,1017.170,897.077,880.375,947.152,951.220,955.203,1013.043,1019.207
3,1081.005,1025.349,922.977,913.100,1009.675,1014.710,1019.875,1114.816,1167.600
4,1057.607,1062.241,947.934,933.815,997.531,1018.795,1039.638,1119.932,1136.138
5,1077.798,1040.706,920.115,944.386,1031.641,1037.442,1001.292,1121.431,1164.772
6,1099.177,1082.504,947.488,935.593,1006.355,1034.493,1059.202,1122.245,1141.384
7,1085.227,1040.667,925.105,936.232,1019.191,1030.617,1000.643,1144.044,1175.264

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,854.421,545.304,875.202,650.216,819.588,836.425,909.894,895.188,1025.196
1,881.260,505.357,885.197,748.676,858.878,862.295,869.721,946.010,999.629
2,1016.247,652.871,912.856,830.879,980.509,916.755,918.602,1012.446,1140.657
3,1064.824,704.428,977.167,857.081,989.926,1021.480,1064.055,1077.258,1215.471
4,1060.276,642.912,969.471,916.204,1063.444,1013.115,1029.117,1153.766,1229.122
5,1111.718,699.085,975.765,881.099,1044.710,1041.776,1048.344,1106.301,1173.635
6,1148.202,701.333,985.528,942.344,1001.615,1008.631,1074.440,1175.538,1239.298
7,1110.948,808.350,957.988,923.375,976.520,1010.834,1032.754,1119.526,1193.412

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,854.421,545.304,875.202,650.216,819.588,836.425,909.894,895.188,1025.196
1,881.260,505.357,885.197,748.676,858.878,862.295,869.721,946.010,999.629
2,1016.247,652.871,912.856,830.879,980.509,916.755,918.602,1012.446,1140.657
3,1064.824,704.428,977.167,857.081,989.926,1021.480,1064.055,1077.258,1215.471
4,1060.276,642.912,969.471,916.204,1063.444,1013.115,1029.117,1153.766,1229.122
5,1111.718,699.085,975.765,881.099,1044.710,1041.776,1048.344,1106.301,1173.635
6,1148.202,701.333,985.528,942.344,1001.615,1008.631,1074.440,1175.538,1239.298
7,1110.948,808.350,957.988,923.375,976.520,1010.834,1032.754,1119.526,1193.412

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,739.969,788.067,713.714,740.009,833.433,831.115,731.692,874.731,959.777
1,875.059,891.678,793.115,838.433,862.965,917.845,816.213,938.988,958.935
2,971.808,986.326,880.932,910.480,966.231,996.417,940.744,1063.529,1031.683
3,986.847,1047.578,953.628,960.323,988.107,1037.710,943.856,1143.929,1145.432
4,1018.566,1055.902,929.390,959.505,982.048,1049.663,1051.594,1163.078,1140.426
5,1000.388,1093.961,953.278,983.781,1015.134,1070.832,1042.903,1163.216,1139.322
6,1063.009,1115.732,1028.484,1009.416,1020.690,1066.140,1042.247,1176.608,1157.063
7,1029.603,1099.401,990.303,995.822,1013.407,1079.398,1014.909,1177.737,1202.152

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,739.969,788.067,713.714,740.009,833.433,831.115,731.692,874.731,959.777
1,875.059,891.678,793.115,838.433,862.965,917.845,816.213,938.988,958.935
2,971.808,986.326,880.932,910.480,966.231,996.417,940.744,1063.529,1031.683
3,986.847,1047.578,953.628,960.323,988.107,1037.710,943.856,1143.929,1145.432
4,1018.566,1055.902,929.390,959.505,982.048,1049.663,1051.594,1163.078,1140.426
5,1000.388,1093.961,953.278,983.781,1015.134,1070.832,1042.903,1163.216,1139.322
6,1063.009,1115.732,1028.484,1009.416,1020.690,1066.140,1042.247,1176.608,1157.063
7,1029.603,1099.401,990.303,995.822,1013.407,1079.398,1014.909,1177.737,1202.152

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,816.181,939.136,915.702,757.850,851.721,761.304,878.527,986.167,960.469
1,960.625,990.703,962.226,701.243,816.789,726.486,899.257,958.888,889.895
2,836.461,826.814,759.440,701.632,848.071,723.745,772.980,996.489,901.730
3,794.616,837.714,757.374,748.259,861.501,761.958,819.801,999.130,1000.116
4,882.561,929.978,856.384,707.143,847.126,775.032,769.202,913.050,1022.345
5,841.896,918.058,786.061,767.415,865.877,769.365,792.013,1013.802,1033.987
6,885.130,868.732,884.989,785.188,874.474,786.472,840.823,1100.850,1075.945
7,848.239,890.188,789.247,767.279,842.361,781.984,843.577,941.132,1096.138
8,850.195,845.240,806.008,748.799,847.230,785.245,810.064,1023.106,1075.820

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,816.181,939.136,915.702,757.850,851.721,761.304,878.527,986.167,960.469
1,960.625,990.703,962.226,701.243,816.789,726.486,899.257,958.888,889.895
2,836.461,826.814,759.440,701.632,848.071,723.745,772.980,996.489,901.730
3,794.616,837.714,757.374,748.259,861.501,761.958,819.801,999.130,1000.116
4,882.561,929.978,856.384,707.143,847.126,775.032,769.202,913.050,1022.345
5,841.896,918.058,786.061,767.415,865.877,769.365,792.013,1013.802,1033.987
6,885.130,868.732,884.989,785.188,874.474,786.472,840.823,1100.850,1075.945
7,848.239,890.188,789.247,767.279,842.361,781.984,843.577,941.132,1096.138
8,850.195,845.240,806.008,748.799,847.230,785.245,810.064,1023.106,1075.820

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,936.932,853.868,896.705,742.728,849.368,787.624,919.683,866.892,949.135
1,874.361,820.261,946.224,673.143,839.551,737.441,855.561,795.019,874.371
2,791.280,805.752,872.642,701.108,746.109,693.159,855.025,861.269,878.734
3,830.129,837.406,804.942,712.354,796.448,776.534,823.971,915.370,903.149
4,831.668,821.555,895.372,753.319,815.669,746.753,890.642,935.166,957.031
5,845.313,850.921,826.983,727.655,809.060,787.659,879.454,875.038,894.523
6,836.132,852.435,849.109,720.291,786.860,794.279,910.399,892.639,917.462
7,826.697,771.965,890.245,710.019,822.974,706.839,862.333,946.035,949.817
8,853.087,835.113,817.539,712.625,808.971,762.862,835.393,866.682,933.972

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,936.932,853.868,896.705,742.728,849.368,787.624,919.683,866.892,949.135
1,874.361,820.261,946.224,673.143,839.551,737.441,855.561,795.019,874.371
2,791.280,805.752,872.642,701.108,746.109,693.159,855.025,861.269,878.734
3,830.129,837.406,804.942,712.354,796.448,776.534,823.971,915.370,903.149
4,831.668,821.555,895.372,753.319,815.669,746.753,890.642,935.166,957.031
5,845.313,850.921,826.983,727.655,809.060,787.659,879.454,875.038,894.523
6,836.132,852.435,849.109,720.291,786.860,794.279,910.399,892.639,917.462
7,826.697,771.965,890.245,710.019,822.974,706.839,862.333,946.035,949.817
8,853.087,835.113,817.539,712.625,808.971,762.862,835.393,866.682,933.972

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1150.205,1102.111,1074.762,903.886,996.399,869.395,1216.038,1270.629,1250.291
1,1333.799,1203.487,1166.846,888.777,1067.970,873.555,1302.947,1347.026,1321.984
2,1509.676,1448.456,1366.932,1062.195,1240.184,1072.479,1600.053,1625.822,1781.563
3,1834.385,1748.781,1677.050,1369.864,1451.037,1344.204,1921.261,1956.691,2074.354
4,1928.947,1958.804,1772.116,1413.601,1644.504,1418.851,2110.844,2152.379,2344.855
5,2004.604,1969.329,1894.781,1527.719,1616.112,1459.675,2186.886,2233.659,2308.645
6,2153.828,2063.150,2027.407,1611.595,1668.237,1554.325,2330.179,2303.838,2426.760
7,2242.768,2183.648,2060.597,1588.189,1785.934,1577.016,2400.848,2402.973,2637.598
8,2328.907,2250.580,2205.095,1696.299,1778.661,1646.803,2479.306,2491.442,2609.308

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1150.205,1102.111,1074.762,903.886,996.399,869.395,1216.038,1270.629,1250.291
1,1333.799,1203.487,1166.846,888.777,1067.970,873.555,1302.947,1347.026,1321.984
2,1509.676,1448.456,1366.932,1062.195,1240.184,1072.479,1600.053,1625.822,1781.563
3,1834.385,1748.781,1677.050,1369.864,1451.037,1344.204,1921.261,1956.691,2074.354
4,1928.947,1958.804,1772.116,1413.601,1644.504,1418.851,2110.844,2152.379,2344.855
5,2004.604,1969.329,1894.781,1527.719,1616.112,1459.675,2186.886,2233.659,2308.645
6,2153.828,2063.150,2027.407,1611.595,1668.237,1554.325,2330.179,2303.838,2426.760
7,2242.768,2183.648,2060.597,1588.189,1785.934,1577.016,2400.848,2402.973,2637.598
8,2328.907,2250.580,2205.095,1696.299,1778.661,1646.803,2479.306,2491.442,2609.308

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,888.148,826.191,892.619,705.244,849.470,846.806,1005.304,964.962,988.598
1,872.890,748.226,846.701,722.378,895.373,833.344,956.666,890.577,1005.666
2,847.394,693.217,736.455,630.093,906.247,815.127,870.051,847.485,1041.953
3,837.979,712.532,782.030,714.720,770.912,831.476,933.246,897.423,1047.200
4,948.030,784.015,808.474,776.080,887.291,848.023,943.196,890.913,1065.222
5,867.383,753.996,791.191,712.572,809.917,809.051,916.365,890.411,1083.250
6,887.420,758.176,795.990,692.837,843.733,845.875,963.257,908.754,1071.152
7,953.210,780.961,754.748,665.277,840.900,831.301,909.895,870.967,918.844
8,848.961,741.567,797.031,684.235,777.814,785.422,906.114,936.512,1003.436

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,888.148,826.191,892.619,705.244,849.470,846.806,1005.304,964.962,988.598
1,872.890,748.226,846.701,722.378,895.373,833.344,956.666,890.577,1005.666
2,847.394,693.217,736.455,630.093,906.247,815.127,870.051,847.485,1041.953
3,837.979,712.532,782.030,714.720,770.912,831.476,933.246,897.423,1047.200
4,948.030,784.015,808.474,776.080,887.291,848.023,943.196,890.913,1065.222
5,867.383,753.996,791.191,712.572,809.917,809.051,916.365,890.411,1083.250
6,887.420,758.176,795.990,692.837,843.733,845.875,963.257,908.754,1071.152
7,953.210,780.961,754.748,665.277,840.900,831.301,909.895,870.967,918.844
8,848.961,741.567,797.031,684.235,777.814,785.422,906.114,936.512,1003.436

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,856.955,823.520,829.369,861.562,938.942,745.097,954.350,977.091,1043.985
1,818.881,738.707,835.270,646.491,914.921,732.801,871.719,967.624,1027.809
2,818.904,705.180,789.608,612.520,832.475,750.539,863.969,977.260,990.137
3,788.748,790.052,747.944,646.733,868.327,736.982,863.355,989.026,981.288
4,842.052,765.049,861.238,696.958,832.004,793.094,962.612,921.186,872.341
5,867.515,738.736,752.738,692.259,826.002,730.018,862.912,981.612,1007.621
6,860.733,734.686,761.022,666.436,874.239,745.416,893.722,1000.521,1032.057
7,879.155,752.307,801.368,609.387,811.540,747.008,941.804,986.634,894.001
8,822.402,798.051,764.335,647.377,827.143,715.454,834.740,984.287,1034.260

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,856.955,823.520,829.369,861.562,938.942,745.097,954.350,977.091,1043.985
1,818.881,738.707,835.270,646.491,914.921,732.801,871.719,967.624,1027.809
2,818.904,705.180,789.608,612.520,832.475,750.539,863.969,977.260,990.137
3,788.748,790.052,747.944,646.733,868.327,736.982,863.355,989.026,981.288
4,842.052,765.049,861.238,696.958,832.004,793.094,962.612,921.186,872.341
5,867.515,738.736,752.738,692.259,826.002,730.018,862.912,981.612,1007.621
6,860.733,734.686,761.022,666.436,874.239,745.416,893.722,1000.521,1032.057
7,879.155,752.307,801.368,609.387,811.540,747.008,941.804,986.634,894.001
8,822.402,798.051,764.335,647.377,827.143,715.454,834.740,984.287,1034.260

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,849.663,801.438,786.247,722.963,809.702,917.724,861.010,881.794,952.311
1,793.383,752.355,711.218,678.200,765.628,794.930,823.778,832.021,927.129
2,765.728,758.190,743.612,683.986,717.564,767.648,824.246,847.359,848.976
3,824.638,752.172,749.638,697.604,764.695,800.518,810.347,889.003,911.290
4,803.618,764.786,806.550,733.915,751.407,833.169,819.827,935.497,901.167
5,816.992,743.088,724.412,715.926,759.464,839.174,820.961,895.152,958.526
6,823.921,768.211,760.044,728.884,780.484,817.656,841.596,924.065,941.044
7,844.991,763.002,748.011,745.421,742.364,855.344,853.416,943.880,909.480
8,850.057,788.552,798.076,729.671,776.660,819.843,833.988,914.972,970.999

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,849.663,801.438,786.247,722.963,809.702,917.724,861.010,881.794,952.311
1,793.383,752.355,711.218,678.200,765.628,794.930,823.778,832.021,927.129
2,765.728,758.190,743.612,683.986,717.564,767.648,824.246,847.359,848.976
3,824.638,752.172,749.638,697.604,764.695,800.518,810.347,889.003,911.290
4,803.618,764.786,806.550,733.915,751.407,833.169,819.827,935.497,901.167
5,816.992,743.088,724.412,715.926,759.464,839.174,820.961,895.152,958.526
6,823.921,768.211,760.044,728.884,780.484,817.656,841.596,924.065,941.044
7,844.991,763.002,748.011,745.421,742.364,855.344,853.416,943.880,909.480
8,850.057,788.552,798.076,729.671,776.660,819.843,833.988,914.972,970.999

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,907.264,831.934,826.056,682.521,887.178,860.785,947.999,908.233,1070.828
1,821.463,775.476,774.061,649.382,770.209,807.478,876.973,855.515,956.173
2,751.090,799.229,729.407,654.777,766.182,795.905,811.736,862.619,986.649
3,804.008,803.110,780.320,668.188,832.307,829.645,887.943,892.165,1016.907
4,833.427,851.156,804.303,731.252,819.832,802.334,868.195,975.541,1034.894
5,799.884,827.993,785.112,681.278,779.725,828.399,868.436,908.807,1008.280
6,826.951,832.112,797.591,703.110,834.446,839.244,895.605,922.939,1011.297
7,829.650,827.290,767.403,721.835,803.915,834.155,850.336,961.049,1006.288
8,830.299,832.655,744.129,682.430,789.146,819.520,866.711,899.519,999.497

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,907.264,831.934,826.056,682.521,887.178,860.785,947.999,908.233,1070.828
1,821.463,775.476,774.061,649.382,770.209,807.478,876.973,855.515,956.173
2,751.090,799.229,729.407,654.777,766.182,795.905,811.736,862.619,986.649
3,804.008,803.110,780.320,668.188,832.307,829.645,887.943,892.165,1016.907
4,833.427,851.156,804.303,731.252,819.832,802.334,868.195,975.541,1034.894
5,799.884,827.993,785.112,681.278,779.725,828.399,868.436,908.807,1008.280
6,826.951,832.112,797.591,703.110,834.446,839.244,895.605,922.939,1011.297
7,829.650,827.290,767.403,721.835,803.915,834.155,850.336,961.049,1006.288
8,830.299,832.655,744.129,682.430,789.146,819.520,866.711,899.519,999.497

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,788.110,909.920,803.972,831.338,819.044,913.834,962.000,944.119,958.074
1,768.983,848.710,738.599,744.198,767.196,866.060,907.981,876.978,917.634
2,736.216,800.238,737.913,702.092,744.168,848.019,878.231,868.893,908.149
3,754.194,836.353,758.122,745.400,758.716,677.544,886.480,920.194,978.872
4,794.552,867.130,743.136,750.417,774.355,630.304,905.787,918.469,951.654
5,748.298,838.483,729.259,745.185,746.572,562.730,928.424,924.043,963.293
6,757.868,855.655,772.100,752.105,762.981,699.411,892.851,941.658,988.991
7,828.218,882.508,753.785,774.071,787.943,827.780,973.496,966.034,981.638
8,808.001,887.164,800.256,796.658,804.691,832.445,906.655,966.895,984.749

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,788.110,909.920,803.972,831.338,819.044,913.834,962.000,944.119,958.074
1,768.983,848.710,738.599,744.198,767.196,866.060,907.981,876.978,917.634
2,736.216,800.238,737.913,702.092,744.168,848.019,878.231,868.893,908.149
3,754.194,836.353,758.122,745.400,758.716,677.544,886.480,920.194,978.872
4,794.552,867.130,743.136,750.417,774.355,630.304,905.787,918.469,951.654
5,748.298,838.483,729.259,745.185,746.572,562.730,928.424,924.043,963.293
6,757.868,855.655,772.100,752.105,762.981,699.411,892.851,941.658,988.991
7,828.218,882.508,753.785,774.071,787.943,827.780,973.496,966.034,981.638
8,808.001,887.164,800.256,796.658,804.691,832.445,906.655,966.895,984.749

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,826.841,911.351,819.271,680.412,797.908,852.739,854.482,990.776,1108.086
1,973.114,847.232,946.307,651.534,963.915,742.782,842.027,1080.197,1081.613
2,914.476,858.002,985.064,594.598,853.319,821.774,911.221,944.569,1094.904
3,887.351,914.775,873.542,667.296,888.469,858.783,939.534,1027.322,1180.876
4,931.824,866.685,918.193,554.474,832.628,787.860,838.474,1039.184,1117.193
5,922.207,913.258,852.086,462.036,865.565,779.039,826.289,928.205,1093.871
6,929.687,926.296,888.502,498.751,888.519,867.678,881.015,902.668,1118.772
7,946.460,954.006,917.415,707.531,949.598,927.351,980.348,941.323,1159.159
8,921.550,918.153,847.260,538.232,860.319,843.365,914.130,829.215,1119.647

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,826.841,911.351,819.271,680.412,797.908,852.739,854.482,990.776,1108.086
1,973.114,847.232,946.307,651.534,963.915,742.782,842.027,1080.197,1081.613
2,914.476,858.002,985.064,594.598,853.319,821.774,911.221,944.569,1094.904
3,887.351,914.775,873.542,667.296,888.469,858.783,939.534,1027.322,1180.876
4,931.824,866.685,918.193,554.474,832.628,787.860,838.474,1039.184,1117.193
5,922.207,913.258,852.086,462.036,865.565,779.039,826.289,928.205,1093.871
6,929.687,926.296,888.502,498.751,888.519,867.678,881.015,902.668,1118.772
7,946.460,954.006,917.415,707.531,949.598,927.351,980.348,941.323,1159.159
8,921.550,918.153,847.260,538.232,860.319,843.365,914.130,829.215,1119.647

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,1314.057,1220.850,1231.612,1169.772,1435.679,1296.083,1112.744,1089.580,1314.995
1,1286.163,1172.698,1251.447,1041.587,1326.916,1103.004,1078.619,976.684,1290.629
2,1160.533,1097.993,1238.609,1056.428,1248.693,1111.064,1170.369,1134.126,1281.817
3,1265.181,1200.087,1196.574,1050.478,1291.139,1192.148,1233.784,1282.954,1491.949
4,1296.800,1208.577,1221.931,1062.248,1250.201,1220.182,1361.678,1368.862,1543.491
5,1314.109,1200.019,1160.499,1104.193,1285.883,1232.443,1413.011,1424.089,1709.343
6,1244.557,1190.381,1218.353,1120.451,1304.983,1179.355,1448.398,1519.643,1767.359
7,1382.337,1276.211,1238.873,1140.048,1352.592,1259.788,1544.116,1612.400,1846.820
8,1269.692,1292.161,1264.784,1114.435,1245.138,1178.440,1603.528,1619.837,1732.440

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,1314.057,1220.850,1231.612,1169.772,1435.679,1296.083,1112.744,1089.580,1314.995
1,1286.163,1172.698,1251.447,1041.587,1326.916,1103.004,1078.619,976.684,1290.629
2,1160.533,1097.993,1238.609,1056.428,1248.693,1111.064,1170.369,1134.126,1281.817
3,1265.181,1200.087,1196.574,1050.478,1291.139,1192.148,1233.784,1282.954,1491.949
4,1296.800,1208.577,1221.931,1062.248,1250.201,1220.182,1361.678,1368.862,1543.491
5,1314.109,1200.019,1160.499,1104.193,1285.883,1232.443,1413.011,1424.089,1709.343
6,1244.557,1190.381,1218.353,1120.451,1304.983,1179.355,1448.398,1519.643,1767.359
7,1382.337,1276.211,1238.873,1140.048,1352.592,1259.788,1544.116,1612.400,1846.820
8,1269.692,1292.161,1264.784,1114.435,1245.138,1178.440,1603.528,1619.837,1732.440

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1237.304,1000.305,1125.488,855.019,986.178,844.486,1311.986,1254.506,1340.823
1,1437.314,996.200,1287.112,961.906,1065.750,912.224,1397.289,1278.158,1410.798
2,1643.774,1455.544,1524.769,1126.933,1335.501,1144.686,1675.551,1650.775,1847.789
3,1938.979,1640.789,1807.397,1373.483,1396.970,1223.619,1914.835,1913.414,1969.136
4,2001.672,1771.333,1915.498,1212.497,1464.756,1349.944,2056.390,2009.957,2141.983
5,2209.930,1882.511,1931.124,1208.331,1503.673,1317.842,2202.681,2114.640,2223.433
6,2356.860,2049.903,2101.497,1292.131,1639.266,1386.959,2276.628,2246.738,2411.241
7,2611.985,2268.177,2323.423,1495.769,1736.980,1580.740,2521.717,2504.343,2636.233
8,2362.541,2264.793,2315.859,1420.150,1691.447,1513.650,2502.350,2470.366,2824.181

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1237.304,1000.305,1125.488,855.019,986.178,844.486,1311.986,1254.506,1340.823
1,1437.314,996.200,1287.112,961.906,1065.750,912.224,1397.289,1278.158,1410.798
2,1643.774,1455.544,1524.769,1126.933,1335.501,1144.686,1675.551,1650.775,1847.789
3,1938.979,1640.789,1807.397,1373.483,1396.970,1223.619,1914.835,1913.414,1969.136
4,2001.672,1771.333,1915.498,1212.497,1464.756,1349.944,2056.390,2009.957,2141.983
5,2209.930,1882.511,1931.124,1208.331,1503.673,1317.842,2202.681,2114.640,2223.433
6,2356.860,2049.903,2101.497,1292.131,1639.266,1386.959,2276.628,2246.738,2411.241
7,2611.985,2268.177,2323.423,1495.769,1736.980,1580.740,2521.717,2504.343,2636.233
8,2362.541,2264.793,2315.859,1420.150,1691.447,1513.650,2502.350,2470.366,2824.181

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,1393.421,1182.546,1277.566,1190.544,1376.615,1282.247,1159.609,1189.057,1236.350
1,1322.565,1070.433,1193.723,1139.718,1253.293,1114.401,1121.106,1083.921,1193.552
2,1304.572,1072.245,1117.516,1044.735,1196.570,1133.277,1167.625,1287.105,1290.564
3,1312.537,1108.178,1168.914,1094.055,1210.203,1136.272,1333.780,1390.527,1433.405
4,1295.483,1100.412,1173.627,1111.188,1172.384,1143.927,1420.635,1483.367,1587.986
5,1278.223,1071.485,1188.686,1132.527,1142.525,1130.216,1457.560,1495.667,1616.285
6,1300.453,1142.084,1163.214,1088.184,1156.353,1178.169,1450.976,1627.131,1683.378
7,1409.451,1240.948,1216.902,1151.807,1193.001,1233.383,1552.489,1658.649,1763.264
8,1344.435,1213.214,1185.847,1111.620,1215.128,1204.935,1558.739,1666.598,1804.966

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,1393.421,1182.546,1277.566,1190.544,1376.615,1282.247,1159.609,1189.057,1236.350
1,1322.565,1070.433,1193.723,1139.718,1253.293,1114.401,1121.106,1083.921,1193.552
2,1304.572,1072.245,1117.516,1044.735,1196.570,1133.277,1167.625,1287.105,1290.564
3,1312.537,1108.178,1168.914,1094.055,1210.203,1136.272,1333.780,1390.527,1433.405
4,1295.483,1100.412,1173.627,1111.188,1172.384,1143.927,1420.635,1483.367,1587.986
5,1278.223,1071.485,1188.686,1132.527,1142.525,1130.216,1457.560,1495.667,1616.285
6,1300.453,1142.084,1163.214,1088.184,1156.353,1178.169,1450.976,1627.131,1683.378
7,1409.451,1240.948,1216.902,1151.807,1193.001,1233.383,1552.489,1658.649,1763.264
8,1344.435,1213.214,1185.847,1111.620,1215.128,1204.935,1558.739,1666.598,1804.966

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,1270.666,1283.023,1329.632,1095.518,1316.211,1242.532,1093.421,1147.298,1241.621
1,1201.354,1248.521,1257.687,991.804,1241.391,1081.217,1040.054,1107.265,1173.469
2,1160.215,1120.835,1177.879,947.908,1141.644,1097.900,1129.361,1174.248,1196.786
3,1185.624,1153.879,1158.502,999.785,1245.831,1126.332,1255.856,1351.582,1387.286
4,1220.431,1118.138,1138.219,1038.077,1235.729,1099.695,1315.288,1468.770,1526.099
5,1166.971,1174.627,1184.510,1026.175,1164.767,1142.671,1367.481,1469.184,1580.120
6,1160.097,1208.954,1145.176,983.722,1173.635,1159.834,1417.376,1524.583,1552.017
7,1251.040,1325.662,1256.857,1034.621,1229.941,1221.511,1545.964,1583.405,1662.388
8,1217.231,1215.879,1273.887,1058.275,1212.917,1156.724,1503.552,1664.708,1661.564

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,1270.666,1283.023,1329.632,1095.518,1316.211,1242.532,1093.421,1147.298,1241.621
1,1201.354,1248.521,1257.687,991.804,1241.391,1081.217,1040.054,1107.265,1173.469
2,1160.215,1120.835,1177.879,947.908,1141.644,1097.900,1129.361,1174.248,1196.786
3,1185.624,1153.879,1158.502,999.785,1245.831,1126.332,1255.856,1351.582,1387.286
4,1220.431,1118.138,1138.219,1038.077,1235.729,1099.695,1315.288,1468.770,1526.099
5,1166.971,1174.627,1184.510,1026.175,1164.767,1142.671,1367.481,1469.184,1580.120
6,1160.097,1208.954,1145.176,983.722,1173.635,1159.834,1417.376,1524.583,1552.017
7,1251.040,1325.662,1256.857,1034.621,1229.941,1221.511,1545.964,1583.405,1662.388
8,1217.231,1215.879,1273.887,1058.275,1212.917,1156.724,1503.552,1664.708,1661.564

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,1338.265,1394.946,1398.553,1324.777,1311.864,1496.516,1051.024,1056.372,1322.076
1,1268.681,1284.622,1231.409,1157.126,1118.465,1322.109,1070.470,1016.760,1252.387
2,1215.602,1185.796,1158.230,1091.507,1043.605,1284.019,1136.904,1094.162,1328.826
3,1227.698,1212.173,1151.143,1129.538,1071.662,1382.446,1215.314,1258.763,1563.478
4,1285.653,1259.269,1168.529,1125.623,1133.903,1321.149,1389.460,1423.363,1603.829
5,1265.375,1232.866,1194.402,1103.418,1104.673,1356.014,1376.194,1442.390,1679.722
6,1279.366,1241.694,1208.696,1110.525,1116.193,1357.891,1496.358,1496.017,1706.022
7,1398.751,1325.043,1237.835,1166.013,1156.165,1425.637,1569.703,1603.006,1872.177
8,1365.234,1282.145,1216.513,1165.581,1136.362,1379.465,1608.043,1638.481,1721.192

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,1338.265,1394.946,1398.553,1324.777,1311.864,1496.516,1051.024,1056.372,1322.076
1,1268.681,1284.622,1231.409,1157.126,1118.465,1322.109,1070.470,1016.760,1252.387
2,1215.602,1185.796,1158.230,1091.507,1043.605,1284.019,1136.904,1094.162,1328.826
3,1227.698,1212.173,1151.143,1129.538,1071.662,1382.446,1215.314,1258.763,1563.478
4,1285.653,1259.269,1168.529,1125.623,1133.903,1321.149,1389.460,1423.363,1603.829
5,1265.375,1232.866,1194.402,1103.418,1104.673,1356.014,1376.194,1442.390,1679.722
6,1279.366,1241.694,1208.696,1110.525,1116.193,1357.891,1496.358,1496.017,1706.022
7,1398.751,1325.043,1237.835,1166.013,1156.165,1425.637,1569.703,1603.006,1872.177
8,1365.234,1282.145,1216.513,1165.581,1136.362,1379.465,1608.043,1638.481,1721.192

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,1343.882,1295.353,1263.552,1256.027,1436.744,1348.097,1098.243,1105.939,1187.702
1,1268.605,1225.606,1186.936,1111.253,1272.575,1125.161,1101.795,1069.424,1096.824
2,1245.067,1110.089,1092.976,1072.696,1210.001,1104.446,1146.576,1159.053,1274.755
3,1209.198,1212.541,1173.568,1091.283,1205.245,1133.859,1270.116,1280.172,1386.564
4,1291.522,1189.200,1169.263,1106.390,1179.105,1160.325,1404.522,1418.256,1500.661
5,1269.992,1181.479,1160.927,1132.899,1198.132,1144.055,1433.600,1425.055,1550.683
6,1223.167,1201.496,1152.853,1140.783,1225.996,1143.653,1450.528,1543.730,1686.018
7,1350.078,1282.651,1201.195,1195.563,1257.902,1190.472,1507.274,1633.496,1745.811
8,1256.706,1244.938,1185.236,1156.979,1224.872,1169.478,1539.133,1659.781,1716.093

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,1343.882,1295.353,1263.552,1256.027,1436.744,1348.097,1098.243,1105.939,1187.702
1,1268.605,1225.606,1186.936,1111.253,1272.575,1125.161,1101.795,1069.424,1096.824
2,1245.067,1110.089,1092.976,1072.696,1210.001,1104.446,1146.576,1159.053,1274.755
3,1209.198,1212.541,1173.568,1091.283,1205.245,1133.859,1270.116,1280.172,1386.564
4,1291.522,1189.200,1169.263,1106.390,1179.105,1160.325,1404.522,1418.256,1500.661
5,1269.992,1181.479,1160.927,1132.899,1198.132,1144.055,1433.600,1425.055,1550.683
6,1223.167,1201.496,1152.853,1140.783,1225.996,1143.653,1450.528,1543.730,1686.018
7,1350.078,1282.651,1201.195,1195.563,1257.902,1190.472,1507.274,1633.496,1745.811
8,1256.706,1244.938,1185.236,1156.979,1224.872,1169.478,1539.133,1659.781,1716.093

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,1364.847,1496.904,1325.777,1391.436,1286.819,1477.907,1087.179,1174.987,1194.166
1,1257.258,1319.280,1221.333,1232.345,1112.911,1257.635,1027.404,1113.384,1130.170
2,1200.373,1278.887,1202.344,1177.252,1068.217,1195.384,1091.860,1221.917,1235.632
3,1238.887,1212.699,1119.232,1177.589,1154.258,1315.826,1322.941,1426.480,1506.789
4,1243.871,1334.843,1178.440,1259.930,1156.066,1275.461,1440.589,1584.043,1637.954
5,1242.076,1383.497,1204.046,1237.566,1114.895,1263.944,1501.860,1644.629,1659.744
6,1275.947,1310.030,1235.748,1208.807,1136.661,1273.912,1539.610,1629.422,1738.718
7,1379.992,1435.700,1312.766,1323.250,1214.691,1347.933,1644.767,1766.852,1831.938
8,1380.493,1419.063,1243.938,1274.953,1255.626,1349.440,1607.435,1736.775,1827.723

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,1364.847,1496.904,1325.777,1391.436,1286.819,1477.907,1087.179,1174.987,1194.166
1,1257.258,1319.280,1221.333,1232.345,1112.911,1257.635,1027.404,1113.384,1130.170
2,1200.373,1278.887,1202.344,1177.252,1068.217,1195.384,1091.860,1221.917,1235.632
3,1238.887,1212.699,1119.232,1177.589,1154.258,1315.826,1322.941,1426.480,1506.789
4,1243.871,1334.843,1178.440,1259.930,1156.066,1275.461,1440.589,1584.043,1637.954
5,1242.076,1383.497,1204.046,1237.566,1114.895,1263.944,1501.860,1644.629,1659.744
6,1275.947,1310.030,1235.748,1208.807,1136.661,1273.912,1539.610,1629.422,1738.718
7,1379.992,1435.700,1312.766,1323.250,1214.691,1347.933,1644.767,1766.852,1831.938
8,1380.493,1419.063,1243.938,1274.953,1255.626,1349.440,1607.435,1736.775,1827.723