In [2]:
%matplotlib inline

import sys
sys.path.insert(0, '../../')
import BrasilUSP_iGEM_LabLib as LabLib
from IPython.display import display, HTML

import numpy as np
import glob


ColumnNames = {
    'A' : "-control",
    'B' : "+control",
    'C' : "-IPTG -Glic",
    'D' : "-IPTG 0.2Glic",
    'E' : "-IPTG 0.4Glic",
    'F' : "0.01IPTG -Glic",
    'G' : "0.1IPTG -Glic",
    'H' : "LB",
}

MeaningColNames = { v: k for k, v in ColumnNames.items()}

def allCols(labels, r0 = 1, rf = 9):
    if type(labels) != list: 
        labels = [labels]
    cols = []
    for label in labels:
        row  = MeaningColNames[label]
        for j in range(r0,rf+1):
            cols.append(row + '0' + str(j))
    return cols

In [4]:
FLlist = []
tidx = []

for file in glob.glob("REK8*.txt"):
    tidx.append( float( file.split(' ')[2].split('.')[0] ) )
    FLlist.append(file)

Idx = np.argsort(tidx)
FLlist = np.array(FLlist)[Idx]

ODlist = []
for j in range(14):
    ODlist.append("OD "+str(j)+".txt")


fldata = LabLib.ReadFluor_timefmt_nanomed(FLlist)

In [5]:
for ColN in ColumnNames.values():
    print 
    display(HTML('<p style="font-size: 13pt;"><b>--- ' + ColN + '</b></p>'))
    display( fldata[allCols(ColN)] )

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,5353814,5326644,5022343,4801931,4769621,4524041,5304582,5344448,5357396
1,5985503,5869590,5663380,5430244,5463556,5213868,5939640,5937866,5987047
2,6042453,6206369,6113366,6043790,6109140,5995606,6269454,6392384,6387058
3,5560935,5979644,6400147,6488170,6527514,6538646,6211203,6176518,6242490
4,4573543,5326185,5878522,6273852,6583152,6691122,5606645,5772552,5674769
5,3817271,4553898,5208290,5660806,5986595,6415308,4887626,4987888,4925158
6,3155775,3871497,4498082,4969428,5297310,5667400,4250896,4189227,4032942
7,1662261,2254673,2782276,3167543,3404404,3782421,2888951,2607014,2439525
8,1166013,1685914,2201240,2609206,2793779,3140304,2368318,2109340,1909702

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,151258432,167948096,170031760,183235504,128651832,172859296,58500628,89414128,98949000
1,214737248,221688448,220147792,243168080,184617792,225725200,83189408,124141320,138133408
2,263806272,262493584,259771648,277985792,233695200,271116512,113475568,153911440,158815632
3,289992768,279120000,278963040,286985408,252367664,283067232,134800384,169914784,169098784
4,269394368,264867600,264168304,279713408,279955136,278435648,148729456,173309728,162995536
5,264721424,293627520,311387968,290263584,298099264,310350048,165857376,182835600,172613040
6,238593920,324439296,376750848,330316096,320299456,368118688,178814608,200665776,193637632
7,228754080,326246080,359522112,325394752,334719424,407811552,192636768,266758032,281426496
8,227053040,355241760,449151328,389761600,338806176,449754080,208432080,325810848,291180096

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,14255879,13923058,14446724,20229860,18295060,21181204,21776654,26646568,15545282
1,20749488,19991182,20753166,25306460,22241136,25743432,34634784,42352364,26260838
2,24642706,24557512,24368810,29290086,26125876,30154946,50590504,57408796,41599820
3,22660612,24539578,24435432,28809794,26927896,30394108,60247840,65237316,55499688
4,18639508,21389950,21258870,27703824,26435756,28570628,66740460,65786308,62179972
5,22121344,24031244,26305854,32149552,30262092,33124598,79520288,81892224,77057504
6,22568600,27227450,31384182,36462492,36030728,38935516,87918224,93223592,86024648
7,15954784,23298912,26019236,39033560,50978680,45982196,111969160,122358216,102003632
8,13081685,25506602,25667668,46275532,51369420,55034648,132724976,143752880,108238928

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,206004992,198824352,205456384,157150016,137343648,138293712,175046224,179959872,186700304
1,275948544,273203616,281033184,199043072,184426800,181883920,246718944,245915376,250615664
2,317914304,306197184,307097536,209835328,209445136,206626704,282826848,272394016,281938816
3,328260288,322045792,317888864,215000000,219853504,213873184,298815520,294566912,304073248
4,320757056,320159264,317282368,211736096,222460656,215142960,309977824,304269120,307581248
5,278331936,296047808,298646624,185309312,196615568,188293648,296533408,296551584,282453600
6,224764096,262734832,274049088,156745744,166384944,158316672,264203728,271630176,257452848
7,162413616,203105776,221511632,148640848,137554096,138430752,235583776,270534592,248340720
8,140410224,192353616,235075040,152072928,125558560,154064704,238185248,274067776,293381888

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,139003376,139605088,134841184,112596472,119427144,119405920,150395968,160863664,166953760
1,200890288,190928624,186750880,175802928,181881760,184601232,224748864,230176320,228001952
2,220154640,206656240,212709184,221509872,225971040,227143392,255833824,266592304,261283248
3,231402960,233761696,243080992,255622304,255469872,257359328,291216000,297120000,286654720
4,203569040,231915248,244858896,283034560,274781376,278078304,310584096,309522624,302043872
5,164206288,202840272,221235040,283171328,267717696,270241824,300310720,300870432,282059392
6,130815752,175539232,194349616,252484320,232610544,242970320,270330752,267755984,254440384
7,107700200,152879808,181579600,210265408,194981840,212031216,244583568,272812640,281249056
8,77908904,172446624,161728384,201961104,195985008,213030896,240675872,287528416,284780896

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,155421968,151817520,150263296,193591120,192115936,194901056,142570848,158636288,120801824
1,241623696,232531232,227039872,265036896,254647904,268249776,236864336,241655808,190386320
2,317364640,297707264,294745344,334099456,325212864,338019936,301788224,285337376,242550432
3,363507136,361356544,364818272,379101120,379812320,390969248,327644288,302280768,309442592
4,416542752,408396544,418176128,437195808,412290592,427469600,368098464,351344576,372635840
5,499830464,490400896,494274912,519421056,501279232,518742080,422335200,400760448,444272128
6,515138784,519625152,554011584,586113664,600112128,602008576,468162848,415787680,481403616
7,504715328,551908032,552224384,639339776,628820736,592483776,447609152,405695008,502211232
8,482990240,580234048,648195648,574340416,813340800,576394944,489467232,442384032,551445888

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,98587904,97560200,96212552,90236704,89405184,91116408,192052288,201359424,208415312
1,157691808,157474384,154666032,140567344,139551104,141156400,286185312,286260448,295908448
2,225969840,223751904,215620736,195855200,192852736,192315664,358725312,379240544,390816256
3,305243552,284714080,285593600,256364160,259111792,258851200,453774080,475090016,485281152
4,352929216,345847136,342599744,318184000,312832064,305765312,522590144,535976800,545971456
5,403198816,412561184,386863456,376917216,359363072,360727936,618350912,638391168,631313984
6,415446880,473099936,439805376,405102528,427336992,401707712,703899136,750016448,737919168
7,341210592,464642432,449251456,477050848,508170944,448457344,802011776,829036992,817766848
8,450711200,482416640,463395552,483719488,572900096,517394752,926393344,962326976,885835712

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,3909080,3894040,3853869,3839504,3882595,3855291,3889140,3894358,3895962
1,4063730,4107139,4012788,3956029,4050096,4002676,4089855,4106846,4121495
2,3798839,4108386,4129263,3982258,4142594,4041426,4064554,4202786,4288764
3,3413333,3865689,3935011,3743009,3986442,3913020,3831684,4132383,4149490
4,2919357,3496344,3609386,3388310,3642624,3563921,3513018,3808164,3802813
5,2366673,2954301,3034971,2876275,3048780,3042593,2917106,3183883,3059337
6,1851495,2373290,2465457,2327944,2463742,2483388,2301123,2545728,2432378
7,1333047,1739670,1851331,1755673,1896980,1903943,1784912,1969924,1836044
8,983280,1374608,1461430,1398520,1499241,1507396,1448073,1588101,1455464